* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.First {
  width: 100%;
  height: 100vh;
}
.Navbar {
  width: 100%;
  height: 8vh;
  border: 1px solid blue;
}
.navbar-up {
  width: 100%;
  height: 50%;
  display: flex;
  border:1px solid red;
}
.navbar-up-left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  border: 1px solid red;
}
.navbar-up-left img {
  width: 24px;
  height: 24px;
  margin-left: 5%;
}
.navbar-up-right {
  width: 50%;
  height: 100%;
  border: 1px solid green;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap:20px;
  font-size: 12px;
}
.nv-text {
  margin-right: 5%;
}
.navbar-down {
  width: 100%;
  height: 50%;
  border: 1px solid red;
}
